    @import './_mixins';
   
:root{
    --start: 0;
    --end: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: beige;
    color: white;
}
.container{ 
    padding: 10px;
    background-color: rgb(84, 46, 18);
}
.box__new{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 3vh;
    h1{
        margin-right: 5vh;
    }
}
h1, h3, h5 {
    font-weight: bold;
}
input, button {
    width: 15vw;
    @include btn(0px,solid black 2px,0px,10px);
}
button:hover{
    color: black;
    background-color: beige;
    border-radius: 0px 10px 10px 0px;
    transition-property: border-radius;
    transition-duration: .4s; 
    cursor: pointer;
}
.box__content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h3 {
        font-size: 1.8rem;
        padding: 10px;
        color: black;
        background-color: beige;
        width: 40vw;
        min-width: 120px;
        text-align: center;
        border-radius: 10px;
    }
}
.card{
    width: 80vw;
    min-width: 200px;
    margin: 10px;
    &-header, &-body{
        padding: 6px;
        text-align: center;
        font-size: 1.5rem;
        background-color: black;
        border-radius: 10px 10px 0px 0px;
    }
    &-body{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 0px 0px 10px 10px;
    }
}
    @keyframes donwContainer {
    from { 
        height: var(--start);
    }
    to {
        height: var(--end);
    }
}

.container__animation{
    animation: donwContainer .15s ease-in-out 1;
    transition: animation;
}

@media screen and (max-width: 425px){
    .box__new{
        text-align: center;
       flex-direction: column;
       align-items: center;
       h1{
        margin: 0;
        padding: 10px;
       }
    }
    input, button {
        width: 40vw;
        margin: 2px;
        @include btn(0px,solid black 2px,0px,10px);
    }
}